<!DOCTYPE html>

<html>
  <head>
    <title>FooDo</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <div>
    <body>
      <nav class="navbar">
        <div class="nav-container">
          <a href="#" class="nav-logo"
            ><img src="Logo2.ico" alt="logo" class="logo"
          /></a>
          <div class="nav-toggle">
            <span class="nav-toggle-bar"></span>
            <span class="nav-toggle-bar"></span>
            <span class="nav-toggle-bar"></span>
          </div>
          <div class="nav-menu">
            <ul class="nav-list">
              <li class="nav-item">
                <a href="Index.html" class="nav-link">HOME</a>
              </li>
              <li class="nav-item">
                <a href="Mission.html" class="nav-link">MISSION</a>
              </li>
              <li class="nav-item">
                <a href="AboutUs.html" class="nav-link">ABOUT</a>
              </li>
              <li class="nav-item">
                <a href="Contact.html" class="nav-link">CONTACT</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div>
        <div class="table">
          <div class="table-header">
            <div class="header__item">
              <a id="name" class="filter__link" href="#">Name</a>
            </div>
            <div class="header__item">
              <a id="wins" class="filter__link filter__link--number" href="#"
                >Email</a
              >
            </div>
            <div class="header__item">
              <a id="wins" class="filter__link filter__link--number" href="#"
                >Contact</a
              >
            </div>
            <div class="header__item">
              <a id="wins" class="filter__link filter__link--number" href="#"
                >status</a
              >
            </div>
          </div>
          <div class="table-content">
            <div class="table-row">
              <div class="table-data">Name</div>
              <div class="table-data">Email</div>
              <div class="table-data">Contact</div>
              <div class="table-data">status</div>
            </div>
            <div class="table-row">
              <div class="table-data">Name</div>
              <div class="table-data">Email</div>
              <div class="table-data">Contact</div>
              <div class="table-data">status</div>
            </div>

            <div class="table-row">
              <div class="table-data">Name</div>
              <div class="table-data">Email</div>
              <div class="table-data">Contact</div>
              <div class="table-data">status</div>
            </div>

            <div class="table-row">
              <div class="table-data">Name</div>
              <div class="table-data">Email</div>
              <div class="table-data">Contact</div>
              <div class="table-data">status</div>
            </div>
          </div>
        </div>
      </div>
    </body>
  </div>
</html>
